/* 引用修改liger的css start */

/* 引用修改liger的css end */
/* 布局及整体css start */
html,body{
	height:100%;
}
body {
    font-family: "微软雅黑", "宋体", Arial, sans-serif;
    font-size: 12px;
}
.contextHeight{
	height:100%;
}
.contextWidth{
	width:100%;
}
*{
	outline: 0px none !important;
}
/* 布局及整体css end */

/* 布局兼容ie css start */

/*Internet Explorer 10 和 Windows Phone 8*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* 布局兼容ie css end */

/* 菜单及导航css start */
.navBox{
	margin: 0;
	border:0;
}
@media screen and (min-width: 768px){
	.navbar {
   	    border-radius: 0px;
	}
	.navHeight{
		min-height:0;
		height:100%;
	}
}
.navbar-right li a span{
	font-size: 12px;
	color: #FFFFFF;	
}
.navbar-right .navbar-brand{
	font-size: 12px;
}
.navbar-right .navbar-brand img{
	width: 20px;
	display: inline;
}
.leftMenuContent{
	background-color: #F0EEED;
	height: 100%;
	min-height: 100%;
	padding: 0;
	border-right: 4px solid #D8D7D9 ;	
}
.leftList{
	margin: 30px 0 0 0;
	height:80%;
	overflow-x:hidden;
	overflow-y:auto;
}
.leftList ul{
	margin-left:-10px;
}
.leftList ul li{
	list-style-type:none;
	padding: 10px 0 0 0;
}
.leftList ul li div{
	color: #8F86A7;
}
.leftList ul li div a{
	color: #686768;
	cursor: pointer;
	text-decoration: none;
}
.listActive{
	background-color: #7C7AAD;
}
.leftList li div.listActive a{
	color: #FFFFFF;
}
.open_line{
	width:18px;
	height:100%;
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
}
.open_line_reverse{
	display:none;
	width:18px;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1000;
	cursor:pointer;
}
.open_icon{
	display:none;
	width:18px;
	height:100px;
	position:absolute;
	right:0px;
	top:40%;
	cursor:pointer;
    background: url(../images/ico_play_24.png) no-repeat -52px;
}
.open_icon_reverse{
	display:none;
	width:18px;
	height:100px;
	position:absolute;
	left:0px;
	top:40%;
	z-index:1000;
	cursor:pointer;
    background: url(../images/ico_play_24.png) no-repeat -21px;
}
/* 菜单及导航css start */

/* 内容主体css start */
.mainContent{
	height: 100%;
	min-height: 100%;
}
.mainContent .row{
	height:100%;
	background-color: #F3F3F3;
	padding:20px 0 0 0;
}
/* 内容主体css end */

/* grid css start */
.list_tab{
	overflow:hidden;
}
/*自动完成CSS*/
.autoList {
    border: 1px solid #AECAF0;
    display: none;
    overflow: auto !important;
    position: absolute;
    z-index: 50;
    background-color: #fff;
    top: 22px;
    left: 15px;
    margin-top: 8px;
}
.autoBox .autoList li {
    width: 100%;
    line-height: 20px;
    padding: 0;
    height: 20px;
    float: none;
    margin: 0 0 2px 0;
}
.autoBox {
    position: relative;
}
.commenSearchTitle{
	position:absolute;
	padding: 6px 10px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	left:16px;
	top:0px;
	background-color:#DBDBDB;
	color: #666;
	display:none;
}
.zkbutton{
	position:absolute;
	height: 28px;
	width: 30px;
	line-height: 28px;
/* 	padding: 6px 10px; */
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	left:-34px;
	top:-17px;
	background-color:#DBDBDB;
/* 	width:auto; */
	font-size:12px;
	text-align:center;
	cursor:pointer;
}
.commenGotoSite{
	display:inline-block;
	width:38%;
	padding-left:10px;
/* 	margin:10px 0 10px 0; */
}
.commenSearchSite{
	display:inline-block;
	width:60%;
/* 	margin:10px 0 10px 0; */
}
.commenSearchSite input.form-control:focus{
	border: 1px solid #ccc;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.searchForm{
	margin:10px 10px 10px 10px;
}
.searchContent{
	background-color: #ededed;
/* 	height:8%; */
	padding:15px 0px 15px 0px;
}
.listTable{
/* 	height:92%; */
	overflow-x:hidden;
	overflow-y:auto;
}
div.l-dialog-buttons{
	box-sizing: content-box;
}
.split_line{
	height:10px;
}
/* grid css end */

/* add form css start */
.heardContent {
    width: 100%;
    display: inline-block;
}

.formContent{
	width:100%;
	background: url(../../images/form_sheetbg.png);
	padding:10px 10px 10px 10px;
}
.form_core_content{
	width:900px;
	margin:0 auto;
}
.form_core_header{
	width:900px;
	margin:0 auto;
	padding:10px 10px 10px 10px;
}
.form-horizontal .form-group {
	    margin-right: 0px;
	    margin-left: 0px;
}
.form-horizontal .form-group .col-sm-1{
	width:12%;
}
.form-horizontal .form-group .col-sm-offset-1 {
	margin-left: 1%;
}
@media screen and (min-width: 768px){
	.formContent{
		width:100%;
		background: url(../../images/form_sheetbg.png);
		padding:10px 10px 10px 10px;
	}
	.form-horizontal .form-group {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.form-horizontal .form-group .col-sm-1{
		width:12%;
	}
	.form-horizontal .form-group .col-sm-offset-1 {
		margin-left: 1%;
	}
}
.form_option{
	background-color: #ededed;
	z-index:500;
}
.form_option_content{
	padding: 15px 15px 15px 15px;
}
.form_header{
/* 	height:30px; */
	background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
	background-image: -webkit-linear-gradient(top, #fcfcfc, #dedede);
	background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
	background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
	background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#dedede);/*IE<9>*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#dedede)";/*IE8+*/
}
.form_header_content{
	padding:5px 10px 5px 10px;
	display:inline-block;
}
.nav-tabs li a,.nav-tabs li a:hover,.nav-tabs li a:focus{
	font-size:13px;
/* 	outline: 0px none; */
}
.btn-xs{
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.label_font .form-group .control-label{
	font-size:13px;
}
.form_core{
	background-color: #F3F3F3;
	height:88%;
	overflow:auto;
}
.form_core_content{
	padding:10px 10px 10px 10px;
	background-color: #FFFFFF;
	border: 1px solid #D3D3D3;
}
.form_core_content_header{
	padding: 10px 0 10px 10px;
}
.input_left_line{
	border-left:1px solid gray
}
/* 	Nav tabs grid*/
.l-grid-body {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
/*     overflow: hidden; */
    border-bottom: 1px solid #DBDBDB;
}
a.l-button:hover{
	color: #fff;
}
.formTable #grid_0 thead th{
	border-left: 1px solid #dfdfdf;
	font-weight: bold;
	vertical-align: middle;
	padding: 5px;
}
.formTable #grid_0 tbody td{
	padding: 5px;
	border-top:0;
	border-bottom:1px solid #ddd;
}
.formTable #grid_0 tbody td.oe_form_field_one2many_list_row_add a{
	font-weight: bold;
	color: #7c7bad;
	text-decoration: none;
	cursor: pointer !important;
}
.formTable #grid_0 tfoot{
	border-top: 2px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background: #eeeeee;
    font-weight: bold;
}
.formTable #grid_0 tfoot td{
	padding: 3px;
}
.formTable #grid_0 thead th:first-child{
	border-left: none;
}
.tab_content{
	margin:0; 
	padding:10px 0 0 0;	
}
.l-trigger,.l-trigger-hover,.l-trigger-pressed{
    border: 0;
    background: none;
}
.l-text-popup .l-trigger, .l-text-popup .l-trigger-hover, .l-text-popup .l-trigger-pressed {
    top: 0px;
    width: 16px;
    height: 100%;
    border: none;
}
.l-text-popup .l-trigger-icon{
	line-height:26px;
	background:none;
}
/* 	Nav tabs grid*/
/* add form css end */

/* mx css start */
.style_mx_label{
	display: block;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
.style_mx_text_left{
	text-align:left;
	font-weight: normal;
}
.style_mx_text_right{
	text-align:right;
}
/* mx css end */

/* add with help */
.help_icon{
	position:absolute;
	top:0;
	right:0;
/* 	display:none; */
}
/* add with help */

/* modal iframe html */
.form-inline-modal .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-inline-modal .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.modal_form_option_content{
	padding:15px 0px 15px 0px
}
/* modal iframe html */