/* CSS Document */
/*
* login Style Sheet
* Version: 1.0
* Updated:  15-1-4
* Author: lorenzo hee
* Contact:
* QQ:571215422
* Email:yongqinghee@163.com
*/

@charset "utf-8";
.accordion-group {
    border:none;
}
.accordion-heading .accordion-toggle {
    padding: 3px 15px;
}

.accordion-body .accordion-heading {
    padding-left: 25px;
}

#tree {
    margin-top: 15px;
}